<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="cnTelefonszamok" connectionString="metadata=res://*/edmTelefonszamok.csdl|res://*/edmTelefonszamok.ssdl|res://*/edmTelefonszamok.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=D:\Suli\WPF\Telefonszamok_DAL_Konzol\Telefonszamok_DAL_Konzol\Telefonszamok.mdf;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>